<!doctype html>
<html lang="en" ng-app="rmip">
<head>
     <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 
  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css">
	 
  <script src="lib/html5shiv.js"></script>
  <script src="lib/respond.min.js"></script>
  
  <script src="lib/jquery/jquery-1.11.1.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-animate.js"></script>
  <script src="lib/angular/angular-resource.js"></script>
  <script src="lib/angular/angular-route.js "></script>
  <script src="lib/angular/angular-sanitize.js "></script>
  <script src="js/app.js"></script>
  <script src="js/controller.js"></script>
  <script src="js/MainMenuCtrl.js"></script>
  <script src="js/SideMenuCtrl.js"></script>
  <script src="js/BookMarkCtrl.js"></script>

  	 <!--[if lte IE 8]>
      <script>
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');

        // Optionally these for CSS
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
      </script>
    <![endif]-->
</head>
<body>
 <div class="container-fluid" style="padding-left:0px;padding-right:0px;">
	 <div class="row" ng-controller="MainMenuCtrl">
		<div class="col-md-1"  style="padding-right:0px !important" >
			<div class="navbar navbar-inverse" style="margin-bottom:0px !important">
				<div class="container-fluid">
				  <div class="container-fluid">
				  <div class="navbar-header">
					<a class="navbar-brand" href="#">RMIP</a>
				  </div>
				  </div><!--/.nav-collapse -->
				</div>
			 </div>
		</div>
		<div class="col-md-11" style="padding-left:0px !important;padding-right:0px !important" >
			<div class="navbar navbar-inverse" style="margin-bottom:0px !important">
				<div class="container-fluid">
				  <div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
					  <span class="sr-only">Toggle navigation</span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand"  href="javascript:void(0)" ng-click="showBookMarks()" >Bookmarks</a>
					<a class="navbar-brand"  href="javascript:void(0)" ><strong>Risk Management Portal</strong></a>
				  </div>
				  <div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
					  <li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Ravi Teja<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
						  <li><a href="#">News and communication</a></li>
						  <li><a href="#">Portal Reports</a></li>
						</ul>
					  </li>
					</ul>
					<form class="navbar-form navbar-right" role="search">
						<div class="form-group">
						  <input type="text" class="form-control" placeholder="Search" value="Risk analysis" >
						</div>
						<button type="submit" class="btn btn-default" id="GblSearchBtn" >Search</button>
					  </form>
				  </div><!--/.nav-collapse -->
				</div>
			 </div>
		</div>
	 </div>
	 <div class="row row-offcanvas row-offcanvas-left"   ng-controller="SideMenuCtrl" >
        <!-- sidebar -->
        <div class="col-md-1 sidebar-offcanvas" id="sidebar" role="navigation" style="padding-right:0px !important;border-top:0px;" >
            <ul class="nav navbar-inverse" style="min-height:750px !important;" >
              <li><a href=""  data-target="#sub1" class="cls_highLevel"  >High Level Cat 1</a>
                <ul class="nav cls_childItems " id="sub1" >
                  <li><a href="#">item 1</a></li>
                  <li><a href="#">item 2</a></li>
                  <li><a href="#">item 3</a></li>
                </ul>
              </li>
			  <li><a href=""  data-target="#sub2" class="cls_highLevel" >High Level Cat 2</a>
                <ul class="nav cls_childItems" id="sub2">
                  <li><a href="#">item 1</a></li>
                  <li><a href="#">item 2</a></li>
                  <li><a href="#">item 3</a></li>
                </ul>
              </li>
			  <li><a href=""  data-target="#sub3" class="cls_highLevel" >High Level Cat 3</a>
                <ul class="nav cls_childItems" id="sub3">
                  <li><a href="#">item 1</a></li>
                  <li><a href="#">item 2</a></li>
                  <li><a href="#">item 3</a></li>
                </ul>
              </li>
			  <li><a href=""  data-target="#sub4" class="cls_highLevel" >High Level Cat43</a>
                <ul class="nav cls_childItems" id="sub4">
                  <li><a href="#">item 1</a></li>
                  <li><a href="#">item 2</a></li>
                  <li><a href="#">item 3</a></li>
                </ul>
              </li>
			  <li style="margin-top:150px;" >
				<a href=""  data-target="#sub4"><strong>Customer Support</strong></a>
              </li>
			  <li>
				<a href=""  data-target="#sub4"><strong>Feedback</strong></a>
              </li>
            </ul>
			
        </div>
        <!-- main area -->
        <div class="col-md-11 ">
			<div class="row" ng-controller="BookMarkCtrl" id="divBookMarkPage" style="position:absolute !important;width:100% !important; z-index:999;background-color:#fff!important" >
				<div class="modal fade" id="test" >
				  <div class="modal-dialog">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title">Edit Link</h4>
					  </div>
					  <div class="modal-body">
						<form role="form">
						  <div class="form-group">
							<label for="exampleInputEmail1">Label</label>
							<input type="text" class="form-control" placeholder="Label" ng-model="data.linkEditDetls.name" >
						  </div>
						  <div class="form-group">
							<label for="exampleInputPassword1">URL</label>
							<input type="text" class="form-control" placeholder="URL" ng-model="data.linkEditDetls.url" >
						  </div>
						</form>
					  </div>
					  <div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary"  ng-click="saveLink()" >Save changes</button>
					  </div>
					</div><!-- /.modal-content -->
				  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
				<div class="col-md-3" ng-repeat="bookmarkGrp in data.bookmarkItems" >
					<div class="panel panel-primary">
					  <div class="panel-heading">
							<div class="row" >
								<div class="col-md-4" >
									<h3 class="panel-title" ng-show="!bookmarkGrp.edit" ng-click="editGroupName($index,true)" >{{bookmarkGrp.BmGroupName}}</h3>
									<input type="text"  class="form-control" ng-model="bookmarkGrp.BmGroupName" ng-show="bookmarkGrp.edit" ng-blur="editGroupName($index,false)"  ng-mouseout="editGroupName($index,false)" >
								</div>
								<div class="col-md-offset-2 col-md-2" >
									<button type="button" class="btn btn-xs btn-default" ng-click="addLink($index)">Add Link</button>
								</div>
								<div class="col-md-2" >
									<button ng-show="bookmarkGrp.remove" type="button" class="btn btn-xs btn-default" ng-click="deleteGroup($index)" >Delete Group</button>
									<button ng-show="bookmarkGrp.confirm" type="button" class="btn btn-xs btn-danger" ng-click="deleteGroup($index)" >Confirm</button>
								</div>
							</div>
					  </div>
					  <div class="panel-body">
						<ul class="list-group">
						  <li ng-repeat="bookmarkGrpItem in bookmarkGrp.grpItems"  class="list-group-item list-group-item-success" style="cursor: pointer !important" >
							<div class="row" >
								<div class="col-md-7" >
									<label style="cursor: pointer !important" ng-click="openURL(bookmarkGrpItem.url)" >{{bookmarkGrpItem.name}}</label>
								</div>
								<div class="col-md-3" >
									<button ng-show="bookmarkGrpItem.remove" type="button" class="btn btn-xs btn-default" ng-click="deleteLink($parent.$index,$index)" >Delete Link</button>
									<button ng-show="bookmarkGrpItem.confirm" type="button" class="btn btn-xs btn-danger" ng-click="deleteLink($parent.$index,$index)" >Confirm</button>
								</div>
								<div class="col-md-1" >
									<button ng-show="bookmarkGrpItem.remove" type="button" class="btn btn-xs btn-default" ng-click="editLink($parent.$index,$index)" >Edit</button>
								</div>
							</div>
						  </li>
						</ul>
					  </div>
					</div>
				</div>
				<div class="col-md-3" ng-show="data.bookmarkItems.length<4"  >
					<div class="panel panel-primary">
					  <div class="panel-heading">
							<div class="row" >
								<div class="col-md-12" >
									<h3 class="panel-title" >Add New Group Here</h3>
								</div>
							</div>
					  </div>
					  <div class="panel-body text-center" >
							<button type="button" class="btn btn-lg btn-success" ng-click="addGroup()" >Click here to add new group</button>
					  </div>
					</div>
				</div>
						
			</div>
			<div class="row"  >
				<div class="alert alert-warning" role="alert">
					<marquee><strong>News1 :</strong> News/Updates will come here</marquee>
				</div>
			</div><!--/.row-->
			
			<div class="row" id="highLevelMenyDB" style="height:300px;" >
				<div class="col-md-12 ">
					<!-- Tabs -->
					<ul class="nav nav-tabs" id="tabs">
						<li class="active" ><a href="#highLevelCat1" data-toggle="tab">High Level Category 1</a></li>
						<li class="" ><a href="#highLevelCat2" data-toggle="tab">High Level Category 2</a></li>
						<li class="" ><a href="#highLevelCat3" data-toggle="tab">High Level Category 3</a></li>
						<li class="" ><a href="#highLevelCat4" data-toggle="tab">High Level Category 4</a></li>
						<li class="" ><a href="#highLevelCat5" data-toggle="tab">High Level Category 5</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="highLevelCat1">
								<!-- Repo Tabs --->
								<ul class="nav nav-tabs" id="repoTabsHLC1">
									<li class="active"><a href="#repoInfo" data-toggle="tab"  >item 1</a></li>
									<li><a href="#repoStats" data-toggle="tab">item 2</a></li>
									<li><a href="#repoInfo" data-toggle="tab">item 3</a></li>
									<li><a href="#repoStats" data-toggle="tab">item 4</a></li>
									<li><a href="#repoInfo" data-toggle="tab">item 5</a></li>
								</ul>
								<!-- Repo Tabs -->
							  <div class="tab-content" style="padding:10px;margin-top:10px;border:1px solid grey;height:350px;">
								<div class="tab-pane active" id="repoInfo"  >
									info content
								</div>
								<div class="tab-pane" id="repoStats">stats content</div>
							  </div>
						</div>
						<div class="tab-pane" id="User">
						  <h2>User content</h2>
						</div>
					</div>
				</div>
			</div><!--/.row-->
			<div class="row" id="recentlyViewed" >
				<div class="col-md-12 ">
					<div class="panel panel-default">
						  <!-- Default panel contents -->
						  <div class="panel-heading"><strong>Recently Viewed</strong></div>
						  <!-- Table -->
						  <div class="row" >
							<div class="col-md-6" >
								<table class="table table-bordered">
									<thead>
									  <tr>
										<th>Type</th>
										<th>Source</th>
										<th>Title</th>
									  </tr>
									</thead>
									<tbody>
									  <tr>
										<td>Mark</td>
										<td>Otto</td>
										<td>@mdo</td>
									  </tr>
									  <tr>
										<td>Jacob</td>
										<td>Thornton</td>
										<td>@fat</td>
									  </tr>
									  <tr>
										<td>Larry</td>
										<td>the Bird</td>
										<td>@twitter</td>
									  </tr>
									</tbody>
								  </table>
							</div>
							<div class="col-md-6" >
								<table class="table table-bordered">
									<thead>
									  <tr>
										<th>Type</th>
										<th>Source</th>
										<th>Title</th>
									  </tr>
									</thead>
									<tbody>
									  <tr>
										<td>Mark</td>
										<td>Otto</td>
										<td>@mdo</td>
									  </tr>
									  <tr>
										<td>Jacob</td>
										<td>Thornton</td>
										<td>@fat</td>
									  </tr>
									  <tr>
										<td>Larry</td>
										<td>the Bird</td>
										<td>@twitter</td>
									  </tr>
									</tbody>
								  </table>
							</div>
						  </div>
					 </div>
				</div>
			
			</div><!--/.row-->
			<div class="row"  >
				<div class="col-md-12"  class="cls_searchResults"  >
					<div class="row" id="searchMenu" style="display:none" >
						<div class="col-md-12" >
							<div class="row"  >
								<div class="col-md-12" >
									<button class="btn btn-default cls_search_btn" type="button" data-target=".cls_all" >
									  All <span class="badge">14</span>
									</button>
									<button class="btn btn-info cls_search_btn" type="button" 	data-target=".cls_rep"  >
									  Reports <span class="badge">5</span>
									</button>
									<button class="btn btn-warning cls_search_btn" type="button" data-target=".cls_db" >
									  Dashboard <span class="badge">6</span>
									</button>
									<button class="btn btn-primary cls_search_btn" type="button" data-target=".cls_sp">
									  Sharepoint <span class="badge">3</span>
									</button>
								</div>
							</div>
							<div class="row"  >
								<div class="col-md-12" >
									<h2>Search Results</h2>
								</div>
							</div>
						</div>
					</div>
					<div class="row"   id="searchAll" style="margin-top:15px;display:none"  >
						<div class="col-md-12" >
							<table>
								<tr class="cls_all cls_rep"  >
									<td>
										<div class="row"  >
											<div class="col-md-12" >
												<span class="label label-info">Report</span>
												<button type="button" class="btn btn-link"><h3> Lorem ipsum dolor si Report </h3></button>
											</div>
										</div>
										<div class="row"  >
											<div class="col-md-12" >
												<p> <strong>Description : </strong>Lorem ipsum dolor sit amet, ac lectus accusamus, vulputate est proin, auctor duis tellus, wisi dis sed varius feugiat donec facilisis. Felis nonummy. Feugiat in gravida turpis eleifend, quam non vel elit a pellentesque in, magna donec aliquet leo wisi vel platea, cras morbi felis pharetra nunc lobortis, aliquam justo amet venenatis ultricies eget lectus. Aenean diam, mollis velit metus feugiat quisque dignissim odio. Sed aliquam consectetuer dis ante. Est ut eu nam. Magna pretium vitae tellus a ipsum sed, vehicula metus vel, lectus suspendisse est, luctus morbi. Ipsum condimentum eget, consectetuer volutpat mauris eget, porttitor et quis fusce consectetuer nisl tellus, id in semper vitae vivamus ut.</p>
											</div>
										</div>
									</td>
								</tr>
								<tr class="cls_all cls_db" >
									<td>
										<div class="row"  >
											<div class="col-md-12" >
												<span class="label label-warning">Dashboard</span>
												<button type="button" class="btn btn-link"><h3> est proin, auctor duis tellus  </h3></button>
											</div>
										</div>
										<div class="row"  >
											<div class="col-md-12" >
												<p> <strong>Description : </strong>Lorem ipsum dolor sit amet, ac lectus accusamus, vulputate est proin, auctor duis tellus, wisi dis sed varius feugiat donec facilisis. Felis nonummy. Feugiat in gravida turpis eleifend, quam non vel elit a pellentesque in, magna donec aliquet leo wisi vel platea, cras morbi felis pharetra nunc lobortis, aliquam justo amet venenatis ultricies eget lectus. Aenean diam, mollis velit metus feugiat quisque dignissim odio. Sed aliquam consectetuer dis ante. Est ut eu nam. Magna pretium vitae tellus a ipsum sed, vehicula metus vel, lectus suspendisse est, luctus morbi. Ipsum condimentum eget, consectetuer volutpat mauris eget, porttitor et quis fusce consectetuer nisl tellus, id in semper vitae vivamus ut.</p>
											</div>
										</div>
									</td>
								</tr>
								<tr class="cls_all cls_db" >
									<td>
										<div class="row"  >
											<div class="col-md-12" >
												<span class="label label-warning">Dashboard</span>
												<button type="button" class="btn btn-link"><h3> amet, ac lectus accusamus, vulputate est proin, auct  </h3></button>
											</div>
										</div>
										<div class="row"  >
											<div class="col-md-12" >
												<p> <strong>Description : </strong>Lorem ipsum dolor sit amet, ac lectus accusamus, vulputate est proin, auctor duis tellus, wisi dis sed varius feugiat donec facilisis. Felis nonummy. Feugiat in gravida turpis eleifend, quam non vel elit a pellentesque in, magna donec aliquet leo wisi vel platea, cras morbi felis pharetra nunc lobortis, aliquam justo amet venenatis ultricies eget lectus. Aenean diam, mollis velit metus feugiat quisque dignissim odio. Sed aliquam consectetuer dis ante. Est ut eu nam. Magna pretium vitae tellus a ipsum sed, vehicula metus vel, lectus suspendisse est, luctus morbi. Ipsum condimentum eget, consectetuer volutpat mauris eget, porttitor et quis fusce consectetuer nisl tellus, id in semper vitae vivamus ut.</p>
											</div>
										</div>
									</td>
								</tr>
								<tr class="cls_all cls_sp" >
									<td>
										<div class="row"  >
											<div class="col-md-12" >
												<span class="label label-primary">Sharepoint</span>
												<button type="button" class="btn btn-link"><h3> amet, ac lectus accusamus, vulputate est proin, auct  </h3></button>
											</div>
										</div>
										<div class="row"  >
											<div class="col-md-12" >
												<p> <strong>Description : </strong>Lorem ipsum dolor sit amet, ac lectus accusamus, vulputate est proin, auctor duis tellus, wisi dis sed varius feugiat donec facilisis. Felis nonummy. Feugiat in gravida turpis eleifend, quam non vel elit a pellentesque in, magna donec aliquet leo wisi vel platea, cras morbi felis pharetra nunc lobortis, aliquam justo amet venenatis ultricies eget lectus. Aenean diam, mollis velit metus feugiat quisque dignissim odio. Sed aliquam consectetuer dis ante. Est ut eu nam. Magna pretium vitae tellus a ipsum sed, vehicula metus vel, lectus suspendisse est, luctus morbi. Ipsum condimentum eget, consectetuer volutpat mauris eget, porttitor et quis fusce consectetuer nisl tellus, id in semper vitae vivamus ut.</p>
											</div>
										</div>
									</td>
								</tr>
								<tr class="cls_all cls_rep" >
									<td>
										<div class="row"  >
											<div class="col-md-12" >
												<span class="label label-info">Report</span>
												<button type="button" class="btn btn-link"><h3> amet, ac lectus accusamus, vulputate est proin, auct  </h3></button>
											</div>
										</div>
										<div class="row"  >
											<div class="col-md-12" >
												<p> <strong>Description : </strong>Lorem ipsum dolor sit amet, ac lectus accusamus, vulputate est proin, auctor duis tellus, wisi dis sed varius feugiat donec facilisis. Felis nonummy. Feugiat in gravida turpis eleifend, quam non vel elit a pellentesque in, magna donec aliquet leo wisi vel platea, cras morbi felis pharetra nunc lobortis, aliquam justo amet venenatis ultricies eget lectus. Aenean diam, mollis velit metus feugiat quisque dignissim odio. Sed aliquam consectetuer dis ante. Est ut eu nam. Magna pretium vitae tellus a ipsum sed, vehicula metus vel, lectus suspendisse est, luctus morbi. Ipsum condimentum eget, consectetuer volutpat mauris eget, porttitor et quis fusce consectetuer nisl tellus, id in semper vitae vivamus ut.</p>
											</div>
										</div>
									</td>
								</tr>
								<tr class="cls_all cls_db" >
									<td>
										<div class="row"  >
											<div class="col-md-12" >
												<span class="label label-warning">dashboard</span>
												<button type="button" class="btn btn-link"><h3> amet, ac lectus accusamus, vulputate est proin, auct 1</h3></button>
											</div>
										</div>
										<div class="row"  >
											<div class="col-md-12" >
												<p> <strong>Description : </strong>Lorem ipsum dolor sit amet, ac lectus accusamus, vulputate est proin, auctor duis tellus, wisi dis sed varius feugiat donec facilisis. Felis nonummy. Feugiat in gravida turpis eleifend, quam non vel elit a pellentesque in, magna donec aliquet leo wisi vel platea, cras morbi felis pharetra nunc lobortis, aliquam justo amet venenatis ultricies eget lectus. Aenean diam, mollis velit metus feugiat quisque dignissim odio. Sed aliquam consectetuer dis ante. Est ut eu nam. Magna pretium vitae tellus a ipsum sed, vehicula metus vel, lectus suspendisse est, luctus morbi. Ipsum condimentum eget, consectetuer volutpat mauris eget, porttitor et quis fusce consectetuer nisl tellus, id in semper vitae vivamus ut.</p>
											</div>
										</div>
									</td>
								</tr>
								<tr class="cls_all cls_sp" >
									<td>
										<div class="row"  >
											<div class="col-md-12" >
												<span class="label label-primary">Sharepoint</span>
												<button type="button" class="btn btn-link"><h3> mus, vulputate est proin, auctor 1</h3></button>
											</div>
										</div>
										<div class="row"  >
											<div class="col-md-12" >
												<p> <strong>Description : </strong>Lorem ipsum dolor sit amet, ac lectus accusamus, vulputate est proin, auctor duis tellus, wisi dis sed varius feugiat donec facilisis. Felis nonummy. Feugiat in gravida turpis eleifend, quam non vel elit a pellentesque in, magna donec aliquet leo wisi vel platea, cras morbi felis pharetra nunc lobortis, aliquam justo amet venenatis ultricies eget lectus. Aenean diam, mollis velit metus feugiat quisque dignissim odio. Sed aliquam consectetuer dis ante. Est ut eu nam. Magna pretium vitae tellus a ipsum sed, vehicula metus vel, lectus suspendisse est, luctus morbi. Ipsum condimentum eget, consectetuer volutpat mauris eget, porttitor et quis fusce consectetuer nisl tellus, id in semper vitae vivamus ut.</p>
											</div>
										</div>
									</td>
								</tr>
								<tr class="cls_all cls_db" >
									<td>
										<div class="row"  >
											<div class="col-md-12" >
												<span class="label label-warning">dashboard</span>
												<button type="button" class="btn btn-link"><h3> Lorem ipsum dolor si Report </h3></button>
											</div>
										</div>
										<div class="row"  >
											<div class="col-md-12" >
												<p> <strong>Description : </strong>Lorem ipsum dolor sit amet, ac lectus accusamus, vulputate est proin, auctor duis tellus, wisi dis sed varius feugiat donec facilisis. Felis nonummy. Feugiat in gravida turpis eleifend, quam non vel elit a pellentesque in, magna donec aliquet leo wisi vel platea, cras morbi felis pharetra nunc lobortis, aliquam justo amet venenatis ultricies eget lectus. Aenean diam, mollis velit metus feugiat quisque dignissim odio. Sed aliquam consectetuer dis ante. Est ut eu nam. Magna pretium vitae tellus a ipsum sed, vehicula metus vel, lectus suspendisse est, luctus morbi. Ipsum condimentum eget, consectetuer volutpat mauris eget, porttitor et quis fusce consectetuer nisl tellus, id in semper vitae vivamus ut.</p>
											</div>
										</div>
									</td>
								</tr>
								<tr class="cls_all cls_rep" >
									<td>
										<div class="row"  >
											<div class="col-md-12" >
												<span class="label label-info">Report</span>
												<button type="button" class="btn btn-link"><h3> est proin, auctor duis tellus  </h3></button>
											</div>
										</div>
										<div class="row"  >
											<div class="col-md-12" >
												<p> <strong>Description : </strong>Lorem ipsum dolor sit amet, ac lectus accusamus, vulputate est proin, auctor duis tellus, wisi dis sed varius feugiat donec facilisis. Felis nonummy. Feugiat in gravida turpis eleifend, quam non vel elit a pellentesque in, magna donec aliquet leo wisi vel platea, cras morbi felis pharetra nunc lobortis, aliquam justo amet venenatis ultricies eget lectus. Aenean diam, mollis velit metus feugiat quisque dignissim odio. Sed aliquam consectetuer dis ante. Est ut eu nam. Magna pretium vitae tellus a ipsum sed, vehicula metus vel, lectus suspendisse est, luctus morbi. Ipsum condimentum eget, consectetuer volutpat mauris eget, porttitor et quis fusce consectetuer nisl tellus, id in semper vitae vivamus ut.</p>
											</div>
										</div>
									</td>
								</tr>
								<tr class="cls_all cls_rep" >
									<td>
										<div class="row"  >
											<div class="col-md-12" >
												<span class="label label-info">Report</span>
												<button type="button" class="btn btn-link"><h3> amet, ac lectus accusamus, vulputate est proin, auct  </h3></button>
											</div>
										</div>
										<div class="row"  >
											<div class="col-md-12" >
												<p> <strong>Description : </strong>Lorem ipsum dolor sit amet, ac lectus accusamus, vulputate est proin, auctor duis tellus, wisi dis sed varius feugiat donec facilisis. Felis nonummy. Feugiat in gravida turpis eleifend, quam non vel elit a pellentesque in, magna donec aliquet leo wisi vel platea, cras morbi felis pharetra nunc lobortis, aliquam justo amet venenatis ultricies eget lectus. Aenean diam, mollis velit metus feugiat quisque dignissim odio. Sed aliquam consectetuer dis ante. Est ut eu nam. Magna pretium vitae tellus a ipsum sed, vehicula metus vel, lectus suspendisse est, luctus morbi. Ipsum condimentum eget, consectetuer volutpat mauris eget, porttitor et quis fusce consectetuer nisl tellus, id in semper vitae vivamus ut.</p>
											</div>
										</div>
									</td>
								</tr>
								<tr class="cls_all cls_db" >
									<td>
										<div class="row"  >
											<div class="col-md-12" >
												<span class="label label-warning">dashboard</span>
												<button type="button" class="btn btn-link"><h3> amet, ac lectus accusamus, vulputate est proin, auct  </h3></button>
											</div>
										</div>
										<div class="row"  >
											<div class="col-md-12" >
												<p> <strong>Description : </strong>Lorem ipsum dolor sit amet, ac lectus accusamus, vulputate est proin, auctor duis tellus, wisi dis sed varius feugiat donec facilisis. Felis nonummy. Feugiat in gravida turpis eleifend, quam non vel elit a pellentesque in, magna donec aliquet leo wisi vel platea, cras morbi felis pharetra nunc lobortis, aliquam justo amet venenatis ultricies eget lectus. Aenean diam, mollis velit metus feugiat quisque dignissim odio. Sed aliquam consectetuer dis ante. Est ut eu nam. Magna pretium vitae tellus a ipsum sed, vehicula metus vel, lectus suspendisse est, luctus morbi. Ipsum condimentum eget, consectetuer volutpat mauris eget, porttitor et quis fusce consectetuer nisl tellus, id in semper vitae vivamus ut.</p>
											</div>
										</div>
									</td>
								</tr>
								<tr class="cls_all cls_sp" >
									<td>
										<div class="row"  >
											<div class="col-md-12" >
												<span class="label label-primary">Sharepoint</span>
												<button type="button" class="btn btn-link"><h3> amet, ac lectus accusamus, vulputate est proin, auct  </h3></button>
											</div>
										</div>
										<div class="row"  >
											<div class="col-md-12" >
												<p> <strong>Description : </strong>Lorem ipsum dolor sit amet, ac lectus accusamus, vulputate est proin, auctor duis tellus, wisi dis sed varius feugiat donec facilisis. Felis nonummy. Feugiat in gravida turpis eleifend, quam non vel elit a pellentesque in, magna donec aliquet leo wisi vel platea, cras morbi felis pharetra nunc lobortis, aliquam justo amet venenatis ultricies eget lectus. Aenean diam, mollis velit metus feugiat quisque dignissim odio. Sed aliquam consectetuer dis ante. Est ut eu nam. Magna pretium vitae tellus a ipsum sed, vehicula metus vel, lectus suspendisse est, luctus morbi. Ipsum condimentum eget, consectetuer volutpat mauris eget, porttitor et quis fusce consectetuer nisl tellus, id in semper vitae vivamus ut.</p>
											</div>
										</div>
									</td>
								</tr>
								<tr class="cls_all cls_rep" >
									<td>
										<div class="row"  >
											<div class="col-md-12" >
												<span class="label label-info">Report</span>
												<button type="button" class="btn btn-link"><h3> amet, ac lectus accusamus, vulputate est proin, auct 1</h3></button>
											</div>
										</div>
										<div class="row"  >
											<div class="col-md-12" >
												<p> <strong>Description : </strong>Lorem ipsum dolor sit amet, ac lectus accusamus, vulputate est proin, auctor duis tellus, wisi dis sed varius feugiat donec facilisis. Felis nonummy. Feugiat in gravida turpis eleifend, quam non vel elit a pellentesque in, magna donec aliquet leo wisi vel platea, cras morbi felis pharetra nunc lobortis, aliquam justo amet venenatis ultricies eget lectus. Aenean diam, mollis velit metus feugiat quisque dignissim odio. Sed aliquam consectetuer dis ante. Est ut eu nam. Magna pretium vitae tellus a ipsum sed, vehicula metus vel, lectus suspendisse est, luctus morbi. Ipsum condimentum eget, consectetuer volutpat mauris eget, porttitor et quis fusce consectetuer nisl tellus, id in semper vitae vivamus ut.</p>
											</div>
										</div>
									</td>
								</tr>
								<tr class="cls_all cls_db" >
									<td>
										<div class="row"  >
											<div class="col-md-12" >
												<span class="label label-warning">dashboard</span>
												<button type="button" class="btn btn-link"><h3> mus, vulputate est proin, auctor 1</h3></button>
											</div>
										</div>
										<div class="row"  >
											<div class="col-md-12" >
												<p> <strong>Description : </strong>Lorem ipsum dolor sit amet, ac lectus accusamus, vulputate est proin, auctor duis tellus, wisi dis sed varius feugiat donec facilisis. Felis nonummy. Feugiat in gravida turpis eleifend, quam non vel elit a pellentesque in, magna donec aliquet leo wisi vel platea, cras morbi felis pharetra nunc lobortis, aliquam justo amet venenatis ultricies eget lectus. Aenean diam, mollis velit metus feugiat quisque dignissim odio. Sed aliquam consectetuer dis ante. Est ut eu nam. Magna pretium vitae tellus a ipsum sed, vehicula metus vel, lectus suspendisse est, luctus morbi. Ipsum condimentum eget, consectetuer volutpat mauris eget, porttitor et quis fusce consectetuer nisl tellus, id in semper vitae vivamus ut.</p>
											</div>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="row" >
				<div class="col-md-12" >
					<div ng-view></div>
				</div>
			</div>
        </div><!-- /.col-xs-12 main -->
    </div><!--/.row-->
 </div>
</body>
</html>